* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: "monospace", cursive;
    color: #000;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

nav {
    display: flex;
    flex: 1 0 0;
}

main {
    display: flex;

    flex: 6 0 0;
}

aside {
    display: flex;

    flex: 3 0 0;
}
