/* 공통 영역 */
@font-face {
    font-family: "Nanum_pen";
    src: url("./Nanum_Pen_Script/NanumPenScript-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: "monospace", cursive;
    color: #000;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
}
/* 메인 페이지 css 넣어둘것 */
.main_page {
    display: flex;
    flex: 0 0 0;
    height: 100%;
    width: 100%;
}

.login_page {
    background: linear-gradient(45deg, rgb(84, 255, 135), rgb(69, 214, 250));
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    flex: 1 0 0;
    display: flex;
}

/* 로그인 창 css  */
.title {
    font-size: 200px;
    font-weight: 500;
    position: absolute;
    top: 50px;
    color: black;
    text-shadow: -1px 0 aqua, 0 2px aqua, 2px 0 aqua, 0 -1px aqua;
}
.login_window {
    height: 300px;
    width: 400px;
    flex-direction: column;
    background: linear-gradient(225deg, rgb(84, 255, 135), rgb(69, 214, 250));
    border-radius: 30px;
    border: solid 1px rgb(84, 255, 135);
}

.login_input {
    display: inline-block;

    font-size: 50px;
    height: 1em;
    background: rgb(69, 214, 250);
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: solid 1px rgb(84, 255, 135);
    outline: none;
}
.login_button {
    flex-direction: row;
}
.login_window_button {
    font-size: 35px;
    background-color: inherit;
    border: solid 1px rgb(84, 255, 135);
    padding-top: 12px;
    opacity: 0.5;
    outline: none;
    transition: background-color 0.5s;
}
.button_r {
    border-bottom-right-radius: 30px;
}

.button_l {
    border-bottom-left-radius: 30px;
}
.button_r:hover,
.button_l:hover {
    background: rgb(158, 255, 48);
    transition: 0.4s;
}

/*  */

/* 공용 속성 */
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}

.colurm {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.line {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}
.line2 {
    display: flex;
    flex-direction: row;
    flex: 2 0 0;
}
.line3 {
    display: flex;
    flex-direction: row;
    flex: 3 0 0;
}

.vmid {
    vertical-align: middle;
}
.wmid {
    justify-content: center;

    text-align: center;
}
.space {
    justify-content: space-between;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.pnanum {
    font-family: "Nanum_pen";
}
