/* 공통 영역 */
@font-face {
    font-family: "Nanum_pen";
    src: url("./Nanum_Pen_Script/NanumPenScript-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: "monospace", cursive;
    color: #000;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
}
/* 메인 페이지 css 넣어둘것 */
.main_page {
    display: flex;
    flex: 0 0 0;
    height: 100%;
    width: 100%;
}

.login_page {
    background: linear-gradient(45deg, rgb(84, 255, 135), rgb(69, 214, 250));
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    flex: 1 0 0;
    display: flex;
}

/* 로그인 창 css  */
.login_window {
    height: 300px;
    width: 400px;
    flex-direction: column;
    background: linear-gradient(225deg, rgb(84, 255, 135), rgb(69, 214, 250));
    border-radius: 30px;
    border: solid 1px rgb(84, 255, 135);
}
.login_input {
    display: inline-block;

    font-size: 50px;
    height: 1em;
    background: rgb(69, 214, 250);
    margin: 5px;
    border-radius: 10px;
    border: solid 1px rgb(84, 255, 135);
}
.login_button {
    flex-direction: row;
    margin-bottom: 5px;
}
.login_window_button {
    font-size: 30px;
    background: inherit;
    border: solid 1px rgb(84, 255, 135);
    opacity: 0.5;
}
.button_r {
    border-bottom-right-radius: 30px;
}

.button_l {
    border-bottom-left-radius: 30px;
}

/*  */

/* 공용 속성 */
.line {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}
.line2 {
    display: flex;
    flex-direction: row;
    flex: 2 0 0;
}
.vmid {
    vertical-align: middle;
}
.wmid {
    justify-content: center;

    text-align: center;
}
.space {
    justify-content: space-between;
}

.visible {
    display: flex;
}

.unvisible {
    display: none;
}

.pnanum {
    font-family: "Nanum_pen";
}
